.form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    backdrop-filter: blur(18px) saturate(132%);
    -webkit-backdrop-filter: blur(18px) saturate(132%);
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    width: 25em;
    background-clip: border-box;
    margin: 1em 2em;
}
.formMessage {
    --font-color: #323232;
    --bg-color: rgba(224, 224, 224, 0.4);
    padding: 1em 2em;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -3px 3px 6px rgba(90, 90, 90, 0.52),
    3px -3px 6px rgba(255, 255, 255, 0.56);
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    width: 25em;
}
.formMessage:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px #5a5a5a;
}
.formMessageTitle {
    margin: 0;
}
.formMessageButton {
    margin: auto;
    background: #2f87b7;
}
.formMessageButton:hover {
    outline: none;
    border: none;
}
.header {
    position: relative;
    background-clip: border-box;
    background-color: #2FB7AB;
    background-image: linear-gradient(to top right,#2FB7AB,#5CA987);
    margin: 10px;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,rgba(33,150,243,.4);
    height: 5rem;
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputs {
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 2.75rem;
    position: relative;
}
.input {
    border: 1px solid rgba(128, 128, 128, 0.61);
    outline: 0;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.25rem;
    padding: 0.75rem;
    background-color: transparent;
    border-radius: .375rem;
}
.input:focus {
    border: 1px solid #2FB7AB;
}
.checkboxContainer {
    margin-left: -0.625rem;
    display: inline-flex;
    align-items: center;
}
.checkbox {
    position: relative;
    overflow: hidden;
    padding: .55rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.027);
    height: 35px;
    width: 35px;
}
.checkbox input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.checkboxText {
    cursor: pointer;
}
.siginBtn {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: #5CA987;
    background-image: linear-gradient(to top right,#2FB7AB,#5CA987);
    width: 100%;
    outline: 0;
    color: white;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #2FB7AB;
    overflow: hidden;
    position: relative;
}
.iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
}
.siginBtn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5CA987;
}
.siginBtn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5CA987;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }
    .formMessage {
        max-width: 65vw;
    }
}

