.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80vh;
    gap: 5em;
    margin: 2em 0;
}
.contactIframe {
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
    border-color: transparent;
    width: 45vw;
    height: 20em;
}

.contactIframe:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px rgba(220, 233, 255, 0.48);
}

@media (max-width: 768px) {
    .contact {
        gap: 2em;
    }
    .contactIframe {
        width: 85vw;
        height: 20em;
        margin-bottom: 2em;
    }
}