.homeSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: 20px 20px;
    height: 90vh;
}
.homeSectionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1em;
    max-width: 45vw;
}

.homeSectionDescription p, .homeSectionDescription h1 {
    text-align: start;
}

.homeSectionDescriptionH1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: xxx-large;
}

.homeSectionDescriptionLabel {
    margin-bottom: 0.1em;
    font-weight: bold;

}

.imgResearch {
    max-width: 80vw;
    width: 35rem;
}

.contactButton {
    background: #5CA987;
    color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.8em -0.7em #2e8b57;
    overflow: hidden;
    position: relative;
    height: 3em;
    padding: 0.5em 3.5em 0.5em 1.2em;
}

.iconButton {
    margin-left: 1.2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4em;
    width: 2.4em;
    border-radius: 1.2em;
    right: 0.4em;
    transition: all 0.3s;
}

.contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.2em 0.2em #5CA987;
}

.contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.1em 0.1em #5CA987;
}

@media (max-width: 968px) {
    .homeSection {
        flex-direction: column;
        height: auto;
    }
    .homeSectionDescription {
        align-items: center;
        max-width: 85vw;
    }
    .homeSectionDescriptionH1 {
        font-size: 2.5em;
    }
    .homeSectionDescription p, .homeSectionDescription h1 {
        text-align: center;
    }
    .imgResearch {
        width: 100%;
    }
}